body
{
	background: url('https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg') no-repeat fixed center;
	background-size: cover;
}

.contenedor
{
	background: rgba(0, 0, 0, 0.5);
	font-family: 'Roboto', sans-serif;
	max-width: 600px;
	position: relative;
	top: 50px;
	left: 50px;
	text-align: justify;
	border-radius: 25px;
	padding: 30px;
	color: white;
}

a
{
	background-color: #DB3030;
	text-decoration: none;
	border: none;
	color: white;
	text-align: center;
	padding: 14px 25px;
}

@media (max-width: 600px)
{
	.contenedor
	{
		margin: 50px;
	}
}

